<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="#" class="navbar-brand">Todo Pedro</a></div>

    <ul class="navbar-nav">
      <li>
        <a *ngIf="this.hardcodedAuthenticationService.isUserLogin()" [routerLink]="['/welcome/pedrobh']" class="nav-link">
          Home</a
        >
      </li>
      <li><a *ngIf="this.hardcodedAuthenticationService.isUserLogin()" [routerLink]="['/todos']" class="nav-link">todos</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf="!this.hardcodedAuthenticationService.isUserLogin()" [routerLink]="['/login']" class="nav-link">Login</a>
      </li>
      <li>
        <a *ngIf="this.hardcodedAuthenticationService.isUserLogin()" [routerLink]="['/logout']" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>
